* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
 
}

img {
  display: block;
  max-width: 100%;
}
.container {
  display: flex;
  justify-content: center;
}
.btn:first-child {
  margin-right: 40px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  background: #8cd460;
  color: rgba(255, 255, 255, 0.47);
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #8cd460;
  border: solid 2px rgba(255, 255, 255, 0.47);
  /* transition: 4s; */
  cursor:pointer
}
.start {
  background: #8cd460;
  box-shadow: 0px 0px 0px 5px #8cd460;
}

.stop {
  background: #ff8181;
  box-shadow: 0px 0px 0px 5px #ff8181;
}
.btn:hover {
  border-style: dashed;
}
.disabled{
  background-color:#a8a7a7;
  cursor: not-allowed;
}
.timer {
  display: flex;
  justify-content: flex-start;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.value:before {

  content: "|";
  color: coral;
}

.value:after {
  content: "|";
  color: coral;
}

.label {

  text-transform: uppercase;
  font-size: 12px;
}

.value {

  font-size: 20px;
  text-transform: uppercase;
}